
/* * {
    border:1px solid red;
} */


/* The below selector lets me adjust the CSS pseudo-class target so it doesn't overlap with my on-screen material */
:target::before {
    content: "";
    display: block;
    height: 60px; /* fixed header height*/
    margin: -60px 0 0; /* negative fixed header height */
  }

.nav-link-custom{
    color: white !important;
}

 body {
     padding-top: 70px;
     font: Georgia;
     margin-bottom: 50px;
 }

 .navbar-custom{
     background-color:#66023C;
 }

 #intro{
     text-align: center;
 }

 #aboutme{
    text-align: center;
}

#contact{
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 50px;
}