body           { font-family: sans-serif; background: #eee; }
a, h1, h2      { color: #377ba8; }
h1, h2, h4, h5 { font-family: 'Georgia', serif; }
h1             { border-bottom: 2px solid #eee; }
h2             { font-size: 1.2em; }

.page          { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                 padding: 0.8em; background: white; }
.title         { text-decoration: none; }
.posts         { list-style: none; margin: 0; padding: 0; }
.posts li      { margin: 0.8em 1.2em; }
.posts li h2   { margin-left: -1em; }
.posts li hr   { margin-left: -0.8em; }
.nav           { text-align: right; font-size: 0.8em; padding: 0.3em;
                 margin-bottom: 1em; background: #fafafa; }


#page-container {
position: relative;
min-height: 100vh;
}

#content-wrap {
padding-bottom: 2.5rem;    /* Footer height */
}

#header{
width: 500px;
height: 200px;
text-align: center;
position: fixed;
top: 50%;
left: 50%;
margin-top: -350px; /* Negative half of height. */
margin-left: -250px; /* Negative half of width. */
}

#first-form{
   text-align: center; 
}

.central-paragraph{
    margin: 100px;
    text-align: center;
}

.interests-table{
    margin: 200px;
    border: black 1px;
}

table, th, td{
    border: 5px solid;
}

#footer {
position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;            /* Footer height */
text-align: center;
}